record(aai,"$(P)$(R)$(ACQ_NAME)PosXData") {
    field(EGU, "nm")
    field(NELM, "$(NELM)")
    field(FTVL, "DOUBLE")
    info(Q:group, {
        "$(P)$(R)$(ACQ_NAME)Data-Mon": {
            "value.X": {+type: "plain", +channel: "VAL"}
        }
    })
}

record(aai,"$(P)$(R)$(ACQ_NAME)PosYData") {
    field(EGU, "nm")
    field(NELM, "$(NELM)")
    field(FTVL, "DOUBLE")
    info(Q:group, {
        "$(P)$(R)$(ACQ_NAME)Data-Mon": {
            "value.Y": {+type: "plain", +channel: "VAL"}
        }
    })
}

record(aai,"$(P)$(R)$(ACQ_NAME)SumData") {
    field(EGU, "au")
    field(NELM, "$(NELM)")
    field(FTVL, "DOUBLE")
    info(Q:group, {
        "$(P)$(R)$(ACQ_NAME)Data-Mon": {
            "value.S": {+type: "plain", +channel: "VAL"}
        }
    })
}

record(aai,"$(P)$(R)$(ACQ_NAME)PosQData") {
    field(EGU, "nm")
    field(NELM, "$(NELM)")
    field(FTVL, "DOUBLE")
    info(Q:group, {
        "$(P)$(R)$(ACQ_NAME)Data-Mon": {
            "value.Q": {+type: "plain", +channel: "VAL", +trigger: "*"},
            "": {+type: "meta", +channel: "VAL"}
        }
    })
}

record(aao,"$(P)$(R)$(ACQ_NAME)_PolyXArrayCoeff-SP") {
    field(NELM, "15")
    field(FTVL, "DOUBLE")
    field(PINI, YES)
}
record(aai,"$(P)$(R)$(ACQ_NAME)_PolyXArrayCoeff-RB") {
    field(NELM, "15")
    field(FTVL, "DOUBLE")
    field(INP, "$(P)$(R)$(ACQ_NAME)_PolyXArrayCoeff-SP CP")
}

record(aao,"$(P)$(R)$(ACQ_NAME)_PolyYArrayCoeff-SP") {
    field(NELM, "15")
    field(FTVL, "DOUBLE")
    field(PINI, YES)
}
record(aai,"$(P)$(R)$(ACQ_NAME)_PolyYArrayCoeff-RB") {
    field(NELM, "15")
    field(FTVL, "DOUBLE")
    field(INP, "$(P)$(R)$(ACQ_NAME)_PolyYArrayCoeff-SP CP")
}

record(aao,"$(P)$(R)$(ACQ_NAME)_PolyQArrayCoeff-SP") {
    field(NELM, "9")
    field(FTVL, "DOUBLE")
    field(PINI, YES)
}
record(aai,"$(P)$(R)$(ACQ_NAME)_PolyQArrayCoeff-RB") {
    field(NELM, "9")
    field(FTVL, "DOUBLE")
    field(INP, "$(P)$(R)$(ACQ_NAME)_PolyQArrayCoeff-SP CP")
}

record(aao,"$(P)$(R)$(ACQ_NAME)_PolySUMArrayCoeff-SP") {
    field(NELM, "16")
    field(FTVL, "DOUBLE")
    field(PINI, YES)
}
record(aai,"$(P)$(R)$(ACQ_NAME)_PolySUMArrayCoeff-RB") {
    field(NELM, "16")
    field(FTVL, "DOUBLE")
    field(INP, "$(P)$(R)$(ACQ_NAME)_PolySUMArrayCoeff-SP CP")
}

record(aSub, "$(P)$(R)$(ACQ_NAME)Calc"){
    field(SNAM, "asub_ebpm_pos_calc")
    field(INPA, "$(P)$(R)$(ACQ_NAME)AmplAData")
    field(FTA, "LONG")
    field(NOA, "$(NELM)")
    field(INPB, "$(P)$(R)$(ACQ_NAME)AmplBData")
    field(FTB, "LONG")
    field(NOB, "$(NELM)")
    field(INPC, "$(P)$(R)$(ACQ_NAME)AmplCData")
    field(FTC, "LONG")
    field(NOC, "$(NELM)")
    field(INPD, "$(P)$(R)$(ACQ_NAME)AmplDData CP")
    field(FTD, "LONG")
    field(NOD, "$(NELM)")
    field(INPE, "$(P)$(R)PosXOffset-RB")
    field(FTE, "LONG")
    field(INPF, "$(P)$(R)PosKx-RB")
    field(FTF, "DOUBLE")
    field(INPG, "$(P)$(R)PosYOffset-RB")
    field(FTG, "LONG")
    field(INPH, "$(P)$(R)PosKy-RB")
    field(FTH, "DOUBLE")
    field(INPI, "$(P)$(R)PosKsum-RB")
    field(FTI, "DOUBLE")
    field(INPJ, "$(P)$(R)PosQOffset-RB")
    field(FTJ, "DOUBLE")
    field(INPK, "$(P)$(R)PosKq-RB")
    field(FTK, "DOUBLE")
    field(INPL, "$(P)$(R)XYPosCal-Sts")
    field(FTL, "ENUM")
    field(INPM, "$(P)$(R)SumPosCal-Sts")
    field(FTM, "ENUM")
    field(INPN, "$(P)$(R)QPosCal-Sts")
    field(FTN, "ENUM")
    field(INPO, "$(P)$(R)$(ACQ_NAME)_PolyXArrayCoeff-RB")
    field(FTO, "DOUBLE")
    field(NOO, "15")
    field(INPP, "$(P)$(R)$(ACQ_NAME)_PolyYArrayCoeff-RB")
    field(FTP, "DOUBLE")
    field(NOP, "15")
    field(INPQ, "$(P)$(R)$(ACQ_NAME)_PolySUMArrayCoeff-RB")
    field(FTQ, "DOUBLE")
    field(NOQ, "16")
    field(INPR, "$(P)$(R)$(ACQ_NAME)_PolyQArrayCoeff-RB")
    field(FTR, "DOUBLE")
    field(NOR, "9")
    field(OUTA, "$(P)$(R)$(ACQ_NAME)PosXData PP")
    field(FTVA, "DOUBLE")
    field(NOVA, "$(NELM)")
    field(OUTB, "$(P)$(R)$(ACQ_NAME)PosYData PP")
    field(FTVB, "DOUBLE")
    field(NOVB, "$(NELM)")
    field(OUTC, "$(P)$(R)$(ACQ_NAME)SumData PP")
    field(FTVC, "DOUBLE")
    field(NOVC, "$(NELM)")
    field(OUTD, "$(P)$(R)$(ACQ_NAME)PosQData PP")
    field(FTVD, "DOUBLE")
    field(NOVD, "$(NELM)")
}
